{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block login-signup %}

{% if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-light">Logout</button>
    </form>
{% else %}
    <p class="text-white">You are not logged in</p>
    <a href="{% url 'login' %}" class="btn btn-outline-light me-1">Log In</a> 
    <a href="{% url 'signup' %}" class="btn btn-outline-light">Sign Up</a>
{% endif %}

{% endblock login-signup %}